
/* Special Themes */
.greenish {
  background-color: #80ff9547 !important;
}
.reddish {
  background-color: #ff808047 !important;
}
.blueish {
  background-color: #9580ff47 !important;
}
.yellowish {
  background-color: #fffd8047 !important;
}
/* Special Themes */



/* Each Note */
.each-note {
  border-left: 2px var(--pry-color) solid;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;

  height: 100%;
}

.each-note .date {
  font-size: 11px;

  color: var(--pry-color);
}
.each-note .title {
  font-size: 14px;

  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.each-note .content {
  font-size: 11px;

  text-overflow: ellipsis !important;
  overflow: hidden !important;
  -webkit-line-clamp: 6 !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.each-note .note-label {
  overflow: scroll;
}

.each-note ::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

.each-note ::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}

.each-note ::-webkit-scrollbar-thumb {
  background: var(--pry-color);
  height: 10px;
}

.each-note .note-label p {
  font-size: 11px;
  white-space: nowrap !important;
  margin-bottom: 2px !important;
}
/* Each Note */

/* Note Page */
/* Note Page */

.note {
    border: 0 !important;
    max-height: 75vh;
}

/* Form Style */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.note .input-style {
  width: 100%;
  padding: 7px 0px;
  display: inline-block;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 15px;
  /* font-weight: 400; */
  color: var(--dark-color);
  box-shadow: none;
  background: transparent !important;
}

.note .textarea-style {
  /* min-height: 60vh; */
  height: 75vh;
  font-size: 15px;
  font-weight: 400 !important;
    word-wrap: break-word !important;
  white-space: wrap !important;
  resize: none !important;
}

/* Form Style */

.note ::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.note ::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}

.note ::-webkit-scrollbar-thumb {
  background: transparent;
  height: 10px;
}

/* Note Page */

@media (max-width: 767px) {


}
