/* Special Themes */
.greenish {
  background-color: var(--greenish-bg) !important;
}
.reddish {
  background-color: var(--reddish-bg) !important;
}
.blueish {
  background-color: var(--blueish-bg) !important;
}
.yellowish {
  background-color: var(--yellowish-bg) !important;
}
.orangeish {
  background-color: var(--orangeish-bg) !important;
}
.tealish {
  background-color: var(--tealish-bg) !important;
}
.purpleish {
  background-color: var(--purpleish-bg) !important;
}
.brownish {
  background-color: var(--brownish-bg) !important;
}
.greyish {
  background-color: var(--greyish-bg) !important;
}
/* Special Themes */

/* Each Note */
.each-note {
  border-left: 2px var(--pry-color) solid;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;

  height: 100%;
}

.each-note.note-border {
  border-right: 1px var(--light-bold-color) solid;
  border-bottom: 1px var(--light-bold-color) solid;
  border-top: 1px var(--light-bold-color) solid;
}
.each-note img {
  height: 8rem;
  object-fit: contain;
}

.each-note .date {
  font-size: 11px;
  color: var(--pry-color);
}
.each-note .title {
  font-size: 14px;

  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.each-note .content {
  font-size: 11px;
  white-space: pre-wrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;

  display: -webkit-box !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical !important;
}

/* .each-note .note-label {
  overflow: scroll;
}

.each-note ::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}

.each-note ::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}

.each-note ::-webkit-scrollbar-thumb {
  background: var(--pry-color);
  height: 10px;
} */

.each-note .note-label p {
  font-size: 11px;
  white-space: nowrap !important;
  margin-bottom: 2px !important;
}
/* Each Note */

/* Note Page */
/* Note Page */

.note {
  border: 0 !important;
  max-height: 75vh;
}

/* Form Style */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.note .input-style {
  width: 100%;
  padding: 7px 0px;
  display: inline-block;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 15px;
  /* font-weight: 400; */
  color: var(--dark-color);
  box-shadow: none;
  background: transparent !important;
}

.note .textarea-style {
  height: calc(100vh - 11.2rem);

  font-size: 15px;
  font-weight: 400 !important;
  word-wrap: break-word !important;
  white-space: wrap !important;
  resize: none !important;
}

/* Form Style */

.note ::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.note ::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}

.note ::-webkit-scrollbar-thumb {
  background: transparent;
  height: 10px;
}

/* Note Page */

/* Note Footer */
.custom-radio input.theme-radio {
  display: none;
}

.custom-radio input + .theme-icon {
  border: 1px solid transparent;
}

.custom-radio input:checked + .theme-icon {
  border: 1px solid var(--pry-bold-color);
}

.red-light {
  background-color: #ffeede;
}

.red-bold-text {
  color: #d73d3d;
}

/* Note Footer */

@media (max-width: 767px) {
}
