/* The Top Nav */
/* The Top Nav */
.top-nav {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.7);
}

/* The Top Nav */
/* The Top Nav */

/* The Side Nav */
/* The Side Nav */

.main-nav-container #side_nav {
  background: var(--sec-color) !important;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.2s;
  position: fixed !important;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1040 !important;
  border-right: 1px var(--pry-color) solid;
}

.main-nav-container .sidebar li.active {
  background-color: #eee;
  border-radius: 8px;
  color: #000 !important;
}
.main-nav-container .sidebar li.active a:hover,
.main-nav-container .sidebar li.active a {
  color: #000;
}
/* .main-nav-container .sidebar li a {
  color: #fff;
} */

/* The Side Nav */
/* The Side Nav */

/* Media Query */
@media (max-width: 767px) {
  /* The Project Content */

  .project-content {
    min-height: 100vh;
    width: 100%;
    margin-left: 0px !important;
  }

  /* The Project Content */

  /* The Side Nav */

  .main-nav-container #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  .main-nav-container #side_nav.active {
    margin-left: 0;
  }

  /* The Side Nav */
}

/* Media Query */
